<section class="container mt-3">
  <div class="row">
    <div class="col centro col-foto">
      <div class="moldura centro">
        <img class="img-edit" src="../../../assets/img/foto_redonda-removebg-preview.png">
      </div>
    </div>
  
    <div class="col mt-5 text-light">
      <div class="intro">
        <p>Olá eu sou o</p>
        <h1 class="nome">Ruan Sanchez</h1>
        <p>Desenvolvedor Fullstack</p>
      </div>
  
      <p>Estou imerso no mundo da programação desde <br>
        2022, por conta do ingresso no Instituto Federal <br>
        de Santa Catarina (IFSC). Desde então busco melhorar <br>
        minhas habilidades  no mundo da tecnologia. </p>
    </div>
  </div>
</section>
