$cor1: #1b2211;
$cor2: #233706;
$cor3: #303030;

.img-edit{
  width: 95%;
  height: 95%;
}

.moldura{
  width: 450px;
  height: 450px;

  //caso diminua ex caso a view seja o width menor ou igual a 900px
  @media screen and (max-width: 900px) {
    width: 350px;
    height: 350px;
  }

  background: $cor3;
  background: radial-gradient(
    circle,
    #b6b6b6 5%,
    black 75%
  );
  border-radius: 100%;

  //sombra
  filter: drop-shadow(0px 0px 30px rgb(83, 92, 79));
}

p{
  margin-top: 0px;
  margin-bottom: 7px;
}

.nome{
  font-size: 7vw;

  @media screen and (max-width: 900px) {
    font-size: 15vw; 
  }
  line-height: 0.7;
  font-family: 'Rubik Mono One', monospace;
}

.descricao{
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo1{
  background: $cor1;
  background: radial-gradient(
    circle,
    #4d5a38 5%,
    $cor1 80%
  );
}

.fundo2{
  background: rgb(255, 255, 255);
  background: linear-gradient(16deg, rgba(232,0,0,0.4822303921568627) 0%, rgba(255,255,255,1) 52%, rgba(255,98,0,0.48783263305322133) 100%);
}

.cabecalho-card{
  align-items: center;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid $cor3;
}

.titulo-cabecalho{
  font-weight: bold;
}

.alinhamento{
  display: flex;
  justify-content: space-between;
}

.card-sobreMim{
  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 2px solid $cor2;
}

.sobreMim{
  width: 100%;
  height: auto;

  padding: 25px;
  text-align: center;

  font-weight: 500;
  font-size: large;
  line-height: 1.4;
}

.sobre{
  font-size: 3vw;

  @media screen and (max-width: 900px) {
    font-size: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  line-height: 0.7;
  font-family: 'Rubik Mono One', monospace;
  color: #1b2211;
}

.retrato{
  width: 100%;
  height: auto;

  @media screen and (max-width: 900px) {
    display: none;
  }

  border: 2px solid $cor2;
  border-radius: 10px;
}

.borda-transicao{
  border: 3px solid $cor3;
}

.icone{
  font-size: 90px;
  color: #ebebeb;

  &:hover{
    filter: drop-shadow(0px 0px 70px rgb(95, 105, 91));
  }
}

.separador-sem-padding{
  border: solid 1px $cor3;
}

.separador{
  border: solid 1px $cor3;
  margin-top: 20px;
  margin-bottom: 20px;
}