<section>
  <section class="fundo1 p-3">
    <div class="container mb-5">
      <div class="row">
        <div class="col-md-6 centro mt-4 col-sm-12">
          <div class="moldura centro">
            <img class="img-edit" src="../../../assets/FotosEu/foto_redonda-removebg-preview.png">
          </div>
        </div>
  
        <div class="col-md-6 mt-5 text-light col-sm-12">
          <div class="row">
            <p>OLÁ EU SOU O</p>
            <h1 class="nome">Ruan</h1>
            <h1 class="nome">Sanchez</h1>
          </div>
  
          <div class="d-flex justify-content-end">
            <p>Desenvolvedor Fullstack</p>
          </div>  
  
          <div class="row">
            <div class="separador"></div>
            <div class="centro gap-5">
              <a role="button" target="_blank" title="E-mail" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=ruansanchezskt@gmail.com">
                <i class="bi bi-envelope-at icone"></i>
              </a>
              <a role="button" target="_blank" title="Github" href="https://github.com/MAONEZZE">
                <i class="bi bi-github icone"></i>
              </a>
              <a role="button" target="_blank" title="Linkedin" href="https://www.linkedin.com/in/ruan-sanchez/">
                <i class="bi bi-linkedin icone"></i>
              </a>
            </div>
            <div class="separador"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="borda-transicao"></div>

  <section class="fundo2 p-3">
    <div class="container">
      <div class="row-md-6 mt-4 row-sm-12">
        carrossel
      </div>
    </div>     
  </section>
</section>
