<section>
  <section class="fundo1 p-3">
    <div class="container mb-5">
      <div class="row">
        <div class="col-md-6 centro mt-4 col-sm-12">
          <div class="moldura centro">
            <img class="img-edit" src="../../../assets/img/foto_redonda-removebg-preview.png">
          </div>
        </div>
  
        <div class="col-md-6 mt-5 text-light col-sm-12">
          <div class="row">
            <p>OLÁ EU SOU O</p>
            <h1 class="nome">Ruan</h1>
            <h1 class="nome">Sanchez</h1>
          </div>
  
          <div class="d-flex justify-content-end">
            <p>Desenvolvedor Fullstack</p>
          </div>  
  
          <div class="row">
            <div class="separador"></div>
            <div class="centro gap-5">
              <i role="button" title="E-mail" class="bi bi-envelope-at icone"></i>
              <i role="button" title="Github" class="bi bi-github icone"></i>
              <i role="button" title="Linkedin" class="bi bi-linkedin icone"></i>
            </div>
            <div class="separador"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="borda-transicao"></div>

  <section class="fundo2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-4 col-sm-12">
          <div class="card">
            <div class="card-body">
             
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-4 col-sm-12">
          <div class="separador"></div>
          
        </div>
      </div>
    </div>     
  </section>
</section>