@use '@angular/material' as mat;
@include mat.core();

@import url("bootstrap-icons/font/bootstrap-icons.min.css");

@import 'bootstrap/scss/bootstrap';

$portfolio-palette: (
  50: #F1F8E9,
  100: #DCEDC8,
  200: #C5E1A5,
  300: #AED581,
  400: #9CCC65,
  500: #8BC34A,
  600: #7CB342,
  700: #233706,
  800: #363636,
  900: #1b2211,
 contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
 )
);

$Portfolio-primary: mat.define-palette($portfolio-palette, 900);
$Portfolio-accent: mat.define-palette($portfolio-palette, 700);
$Portfolio-warn: mat.define-palette($portfolio-palette, 800);

$Portfolio-theme: mat.define-light-theme((
  color: (
    primary: $Portfolio-primary,
    accent: $Portfolio-accent,
    warn: $Portfolio-warn,
  )
));

@include mat.all-component-themes($Portfolio-theme);

html, body { 
  height: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: black;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
