<section class="fundo1 p-3">
  <div class="container mt-3">
    <h1>Ruan Sanchez</h1>
    <div class="contact-info">
      <p><strong>Celular:</strong> (11) 96357-4015</p>
      <p><strong>E-mail:</strong> <a href="mailto:ruansanchezskt@gmail.com"> {{'ruansanchezskt@gmail.com'}}</a></p>
      <p><strong>Github:</strong> <a href="https://github.com/MAONEZZE" target="_blank"> MAONEZZE</a></p>
      <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ruan-sanchez" target="_blank"> ruan-sanchez</a></p>
      <p><strong>Endereço:</strong> R. Luís Floriani Sobrinho, 36 - Lages, SC</p>
    </div>

    <h2>Experiência</h2>
    <p>
      <strong>
        NDD:  
      </strong>
      Analista Desenvolvedor - (janeiro/2024)
    </p>

    <h2>Idiomas</h2>
    <ul>
      <li><strong>Inglês:</strong> Avançado</li>
      <li><strong>Português:</strong> Fluente</li>
    </ul>

    <h2>Projetos</h2>
    <ul>
      <li><strong>eAgenda Medica:</strong> <a href="https://github.com/MAONEZZE/e-Agenda-Medica/tree/main" target="_blank"> Ver projeto</a> - Projeto fullstack, no qual desenvolvi tanto o frontend com Angular e Angular Material, quanto o backend com C#, ASP.NET Core, Entity Framework e SQL Server.</li>
      <li><strong>Locadora De Veículos:</strong> <a href="https://github.com/DEVagar-e-sempre/LocadoraDeVeiculos" target="_blank"> Ver projeto</a> - Projeto desenvolvido em equipe, utilizando C# e SQL Server com Entity Framework e .NET Core.</li>
      <li><strong>DAPCDOT:</strong> <a href="https://github.com/wilsoncastello/problemasProgramacao/tree/alunos/ruan2" target="_blank"> Ver projeto</a> - Projeto extensão, onde resolvi problemas de programação nas linguagens Python, Java e Javascript, guiado pelo professor Wilson Castello do IFSC.</li>
      <li><strong>e-Commerce:</strong> <a href="https://github.com/MAONEZZE/e-Commerce_Backend" target="_blank"> Ver projeto</a> - Desenvolvimento do backend de um e-commerce, utilizando C#, ASP.NET Core, Entity Framework e Postgres, com deploy no Render usando Docker.</li>
      <li><strong>Gerenciador de Filmes:</strong> <a href="https://gerenciador-cinema.onrender.com" target="_blank"> Ver projeto</a> - Projeto de gerenciador de filmes feito com Angular, TypeScript, HTML e CSS, utilizando a API do TMDb para exibir informações sobre filmes.</li>
    </ul>

    <h2>Histórico Acadêmico</h2>
    <ul>
      <li><strong>Instituto Federal de Santa Catarina (IFSC):</strong> Bacharelado em Ciência da Computação (2022 - em andamento)</li>
      <li><strong>Academia do Programador:</strong> Curso Full Stack (março/2023 - nov/2023)</li>
    </ul>

    <h2>Tecnologias</h2>
    <div class="row">
      <div class="col-4">
        <mat-card>
          <h3 class="titulo-card">Backend</h3>
          <ul class="lista">
            <li>C#</li>
            <li>Python</li>
            <li>Java</li>
            <li>.NET Core</li>
            <li>Entity Framework Core</li>
            <li>Testes Unitários</li>
            <li>ASP.NET Web APIs</li>
            <li>SQL Server</li>
          </ul>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <h3 class="titulo-card">Frontend</h3>
          <ul class="lista">
            <li>Angular</li>
            <li>Angular Material</li>
            <li>Bootstrap</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>Cypress</li>
            <li>Cucumber</li>
            <li>Gherkin</li>
          </ul>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <h3 class="titulo-card">Ferramentas</h3>
          <ul class="lista">
            <li>Git</li>
            <li>GitHub</li>
            <li>SSMS</li>
            <li>Postman</li>
            <li>Insomnia</li>
            <li>Swagger</li>
            <li>Microsoft Visual Studio</li>
            <li>Microsoft Visual Studio Code</li>
          </ul>
        </mat-card>
      </div>
    </div>  
  </div>
  <div class="d-flex justify-content-center mt-4">
    <button mat-raised-button (click)="downloadPDF()">
      Download do curriculo
    </button>
  </div>
</section>